* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/web.xml -text
WebContent/footer.jsp -text
WebContent/header.jsp -text
WebContent/images/bullet-l1.gif -text
WebContent/images/cd2h-logo.png -text
WebContent/images/leo.png -text
WebContent/index.jsp -text
WebContent/menu.jsp -text
WebContent/organization/judgeOrganization.jsp -text
WebContent/organization/organization.jsp -text
WebContent/repository/judgeRepository.jsp -text
WebContent/repository/repository.jsp -text
WebContent/resources/d3.v3.min.js -text
WebContent/resources/d3.v4.min.js -text
WebContent/resources/style.css -text
WebContent/search/addSearch.jsp -text
WebContent/search/graph.jsp -text
WebContent/search/search.jsp -text
WebContent/search/search_list.jsp -text
WebContent/user/judgeUser.jsp -text
WebContent/user/user.jsp -text
WebContent/visualization/forceGraph.jsp -text
WebContent/visualization/repo_people_data.jsp -text
/pom.xml -text
